<template>
    <h3>{{rank}}</h3>
    <p>Your Reaction time is: {{score}} ms</p>
</template>

<script>
export default {
    props: ['score'],

    data(){
        return{
            rank: ''
        }
    },

    mounted(){
        if (this.score < 300) {
            this.rank = "Nailed It!"
        } else if(this.score < 400){
            this.rank = "Awesome!"
        }else{
            this.rank = "Too Slow!!!"
        }
    }
}
</script>

<style>

</style>