<template>
  <h1>VUE Reaction Timer</h1>
  <button @click="start" :disabled="isPlaying">Play</button>

  <div v-if="isPlaying">
    <Block :delay="delay" @end="endGame"/>
  </div>
  <Result v-if="showResult" :score="score" />
</template>

<script>
import Block from './components/Block.vue'
import Result from './components/Result.vue'

export default {
  name: 'App',
  components: {Block, Result},
  data(){
    return {
      isPlaying: false,
      delay: null,
      score: null,
      showResult: false
    }
  },

  methods: {
    start(){
      this.delay = 2000 + Math.random() * 5000
      this.isPlaying = true
      this.showResult = false
    },

    endGame(reactionTime){
      this.isPlaying = false
      this.score = reactionTime
      this.showResult = true
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
